:root {
    --ancho: 5px;
    --altura: 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    background-color: rgb(232, 232, 232);
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 3;
    margin-top: -100px;
    background: linear-gradient(to right, #6096B4, #93BFCF, #6096B4);
}

header img {
    margin: auto;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header ul li {
    list-style: none;
    padding: 5px;
    margin: 0 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

section {
    display: block;
    width: 90%;
    margin: 0 100px;
}

section[id] {
    scroll-margin-top: 100px;
}

section:first-of-type {
    margin-top: 100px;
}

section, header {
    border-bottom: 2px solid black;
}

section {
    width:100%;
    margin: auto;
}

#explicacion {
    height: fit-content;
    font-size: 25px;
    border-bottom: none;
    padding: 10px;
    background: linear-gradient(to right, #93BFCF, #BDCDD6, #93BFCF);
}

#explicacion p {
    text-align: center;
}

#convertidores {
    margin-top: 20px;
    width: 80%;
    border-bottom: none;
}

#opciones {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

#opciones button {
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    border: 4px solid #698269;
    background-color: #698269;
    color: #F1DBBF;
}

#opciones button:hover {
    background-color: #F1DBBF;
    border-color: #F1DBBF;
    color: #698269;
}

textarea {
    width: 100%;
    border-radius: 10px;
}

textarea {
    resize: vertical;
    min-height: 100px;
    padding: 10px;
}

#cc-conver h2, #ce-conver h2 {
    text-align: center;
    padding: 10px;
}

#contenedor-conbi i {
    padding: 20px;
    margin: 20px auto;
    border: #A7727D;
    background-color: #A7727D;
    color: #EDDBC7;
    border-radius: 10px;
}

#contenedor-conbi i:hover {
    background-color: #EDDBC7;
    border: #EDDBC7;
    color: #A7727D;
}

.InterYconve {
    display: flex;
    justify-content: center;
    align-content: center;
}

#cc-codigo button {
    background-color: #86A3B8;
    border: #86A3B8 2px solid;
    padding: 10px;
    color: #E8D2A6;
    border-radius: 10px;
    font-size: 20px;
    margin: 5px;
}

#cc-codigo button:hover {
    background-color: #E8D2A6;
    border-color: #E8D2A6;
    color: #86A3B8;
}

.dibujo {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.piso {
    width: calc(var(--ancho) * 17);
    height: var(--altura);
}

.bloque {
    width: var(--ancho);
    height: var(--altura);
    display: inline-block;
}

.marrono {
    background-color: #50270c;
}

.marronc {
    background-color: #ce8e29;
}

.marroncl {
    background-color: #eda222;
}

.blanco {
    background-color: #f7c66a;
}